version: '3'

services:
    redis01:
        container_name: redis01
        build: ./redis
        ports:
            - 6379:6379
        networks:
            - host
        env_file:
            - './redis/env/common_variables.env'
            - './redis/env/master_variables.env'
        volumes:
            - './redis/data/6379:/etc/redis/data'

    redis02:
        container_name: redis02
        build: ./redis
        ports:
            - 6380:6379
        depends_on:
            - redis01
        networks:
            - host
        env_file:
            - './redis/env/common_variables.env'
            - './redis/env/slave_variables.env'
        volumes:
            - './redis/data/6380:/etc/redis/data'

    redis03:
        container_name: redis03
        build: ./redis
        ports:
            - 6381:6379
        depends_on:
            - redis01
        networks:
            - host
        env_file:
            - './redis/env/common_variables.env'
            - './redis/env/slave_variables.env'
        volumes:
            - './redis/data/6381:/etc/redis/data'

    proxy:
        container_name: haproxy
        build: ./haproxy
        depends_on:
            - redis01
            - redis02
            - redis03
        networks:
            - host
        ports:
            - '9000:9000'
            - '8080:80'
            - '6387:6387'
            - '6388:6388'

networks:
  host:

